.services {
  display: grid;
  grid-template-columns: 30% 24% 24% 24%;
  column-gap: 0.8rem;
  row-gap: 1rem;
  margin: 1rem 0;
}

@media screen and (max-width: 1024px) {
  .services {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 640px) {
  .services {
    grid-template-columns: repeat(1, 1fr);
  }
}
